* {
  background-color: powderblue;
  color: black;
}

.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
}

input[type="number"] {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid black;
  margin-bottom: 16px;
  margin: 10px 30px;
  background-color: #fff;
  color: #000;

}

#current-time {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.container div {
  font-weight: bold;
}